.container {
    font-size: 15px;
    font-weight: 400;
    line-height: 20.4px;

    padding-bottom: 4px;

    &__content {
        display: flex;
    }

    &__list {
        padding-left: 0;
    
        list-style: none;
    
        font-size: 15px;
        font-weight: 400;
        line-height: 20.4px;
    }
}