.header {
    margin-right: 240px;
    padding: 0 6px 0 20px;

    display: flex;
    justify-content: space-between;

    .make-text(13px, 42px, 400);

    color: @light-gray;

    &__bar {
        padding-left: 12px;
    }
}
