.header {
    margin-right: 240px;
    padding: 0 6px 0 20px;

    display: flex;
    justify-content: space-between;

    font-size: 14.1px;
    line-height: 42px;

    color: #90919d;

    &__bar {
        padding-left: 12px;
    }    

    border: 1px solid red;
}
