.news {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */

    &__global-news {
        max-width: 66.6%;
        margin-right: 20px;
    
        /* flex: 100 0 auto; */
        display: flex;
        flex-direction: column;
        
        border: 1px solid green;
    }

    &__local-news {
        /* flex: 1 1 auto; */
        max-width: 33.3%;
        margin-left: 20px;
    }
    
    border: 1px solid green;
}