.mail-card {
    border: 1px solid @mail-line-color;
    border-radius: @border-radius;
    
    box-shadow: @mail-line-color 0px 4px 12px 0px;

    color: @mail-color-secondary;
    background: @mail-white;
}