.mail-example-link {
    .mail-font-regular-xsmall();

    &__key {
        color: @mail-gray;
    }

    &__value {
        color: @mail-color-primary;

        .mail-example-link:hover & {
            text-decoration: underline;
        }
    }
}