.mail-form {
    &__button {
        height: 32px;

        margin-bottom: 8px;
        padding: 0 15px;

        border: 1px solid @mail-primary-button-border;
        border-radius: 4px;

        box-shadow: 0 2px 0 0 @mail-button-shadow;

        font-size: 15px;
        line-height: 20px;
    }
}