@import url(./normalize.css);

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.header__leftcorner {
    border: 1px solid red;
}

.header__bar {
    border: 1px solid red;
}

.content {
    border: 1px solid red;
}

.news {
    display: flex;
    border: 1px solid green;
}

.news__global {
    border: 1px solid green;
}

.news__local {
    border: 1px solid green;
}