.font-face(@font-family, @font-weight, @font-path-primary, @font-path-secondary) {
    @font-face {
        font-family: @font-family;
        font-weight: @font-weight;
        font-style: normal;
        font-display: swap;
        src: url(@font-path-primary) format('woff2'),
             url(@font-path-secondary) format('woff');
    }
}

// Yandex
.font-face('Yandex Sans Text',
    @font-weight-regular,
    '../../fonts/YandexText/YandexSansText-Regular.woff2',
    '../../fonts/YandexText/YandexSansText-Regular.woff');

.font-face('Yandex Sans Text',
    @font-weight-bold,
    '../../fonts/YandexText/YandexSansText-Bold.woff2',
    '../../fonts/YandexText/YandexSansText-Bold.woff'
);

.font-face('Yandex Sans Text',
    @font-weight-medium,
    '../../fonts/YandexText/YandexSansText-Medium.woff2',
    '../../fonts/YandexText/YandexSansText-Medium.woff'
);