@yandex-font: 'Yandex Sans Text', 'Helvetica Neue', Arial, sans-serif;
@verdana-font: Verdana, Arial, Helvetica, sans-serif;

@font-weight-regular: 400;
@font-weight-medium: 500; 
@font-weight-bold: 700;

@font-size-xxs: 11px;
@font-size-xs: 12px;
@font-size-s: 13px;
@font-size-m: 14px;
@font-size-l: 19px;


.font-default() {
    font-family: @yandex-font;
    font-style: normal;
}

.font-regular(@font-weight, @font-size) {
    .font-default();
    font-weight: @font-weight;
    font-size: @font-size;
}

.font-regular-small() {
    .font-regular(@font-weight-regular, @font-size-s);
}

.font-regular-medium() {
    .font-regular(@font-weight-regular, @font-size-m);
}

.font-regular-large() {
    .font-regular(@font-weight-regular, @font-size-l);
}

.font-medium-small() {
    .font-regular(@font-weight-medium, @font-size-s);
}

.font-medium-large() {
    .font-regular(@font-weight-medium, @font-size-l);
}

.font-large() {
    .font-regular(@font-weight-regular, @font-size-l);
}

// Mail
