@font-face {
    font-family: 'Yandex Sans Text';
    src: url('../../fonts/YandexSansText-Regular.eot');
    src: local('../../fonts/Yandex Sans Text Regular'), local('../../fonts/YandexSansText-Regular'),
        url('../../fonts/YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/YandexSansText-Regular.woff2') format('woff2'),
        url('../../fonts/YandexSansText-Regular.woff') format('woff'),
        url('../../fonts/YandexSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('../../fonts/YandexSansText-Bold.eot');
    src: local('../../fonts/Yandex Sans Text Bold'), local('../../fonts/YandexSansText-Bold'),
        url('../../fonts/YandexSansText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/YandexSansText-Bold.woff2') format('woff2'),
        url('../../fonts/YandexSansText-Bold.woff') format('woff'),
        url('../../fonts/YandexSansText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('../../fonts/YandexSansText-Medium.eot');
    src: local('../../fonts/Yandex Sans Text Medium'), local('../../fonts/YandexSansText-Medium'),
        url('../../fonts/YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/YandexSansText-Medium.woff2') format('woff2'),
        url('../../fonts/YandexSansText-Medium.woff') format('woff'),
        url('../../fonts/YandexSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}