.make-text(@size, @height, @weight: 500) {
	font-size: @size;
    line-height: @height;
    font-weight: @weight;
}

.make-icon(@width, @height, @background-size: auto) {
    width: @width;
    height: @height;
    background-size: @background-size;
}

.font-face(@font-family, @font-path, @font-weight, @font-style) {
    @font-face {
        font-family: @font-family;
        src: url('../../fonts/YandexSansText-@{font-path}.eot');
        src: local('../../fonts/Yandex Sans Text -@{font-path}'), local('../../fonts/YandexSansText-@{font-path}'),
            url('../../fonts/YandexSansText-@{font-path}.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/YandexSansText-@{font-path}.woff2') format('woff2'),
            url('../../fonts/YandexSansText-@{font-path}.woff') format('woff'),
            url('../../fonts/YandexSansText-@{font-path}.ttf') format('truetype');
        font-weight: @font-weight;
        font-style: @font-style;
        font-display: swap;
    }
}