@import url(./normalize.css);
@import url(./images.css);
@import url(./fonts/inter.css);

.wrapper {
    display: flex;
    flex-direction: column;

    position: relative;

    font-family: 'Yandex Sans Text', 'Helvetica Neue', Arial, sans-serif;

    border: 1px solid blue;
}

/* header styles start */

.header {
    margin-right: 240px;
    padding: 0 6px 0 20px;

    display: flex;
    justify-content: space-between;

    font-size: 14.1px;
    line-height: 42px;

    color: #90919d;

    border: 1px solid red;
}

/* geolocation start */

.geolocation {
    display: flex;
    flex: .05 1 auto;
    justify-content: flex-start;
    align-items: baseline;
}

.geolocation__link {
    padding-right: 16px;

    color: currentColor;
}

.datetime {
    padding-right: 24px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13.113px;
    line-height: normal;
}

/* geolocation end */

.header__bar {
    padding-left: 12px;
}

/* bar styles start */

.bar {
    display: flex;
    align-items: center;
}

.bar__link {
    display: flex;
}

.bar__notifier {
    margin-left: 6px;
}

.bar__notifier._transparent {
    color: #90919d;
}

/* bar styles end */

/* header styles end */

/* content styles start */

.content {
    max-width: 940px;
    margin: auto;

    border: 1px solid black;
}

/* content styles start */


/* new styles start */
.news {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */

    border: 1px solid green;
}

.news__global-news {
    max-width: 66.6%;
    margin-right: 20px;

    /* flex: 100 0 auto; */
    display: flex;
    flex-direction: column;
    
    border: 1px solid green;
}

.tabs {
    display: flex;
    align-items: center;

    font-size: 19.05px;
    font-weight: 500;
    line-height: normal;

    color: #0054b9;

    border: 1px solid green;
}

.tabs__title {
    margin-right: 12px;

    font-size: 15px;
    line-height: 20.4px;
    font-weight: 400;

    border: 1px solid green;
}

.tabs__title:last-of-type {
    margin-right: 0;
}

.title__link {
    /* color: #0054b9; */
    /* color: #6da2e1; */
}

.title__link._not-main {
    color: #6da2e1;
}

.title__link._primary {
    /* color: #0054b9; */
    font-size: 19.05px;
    line-height: normal;
    font-weight: 500;
}

.title .title__link {

}

.tabs__button {
    width: 24px;
    height: 24px;

    margin-top: -7px;
    margin-bottom: -7px;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    cursor: pointer;

    /* opacity: .25; */

    border: 1px solid red;
}

.container .tabs__button {
    opacity: 0;
}

.container:hover .tabs__button {
    opacity: .25;
}

.container:hover .tabs__button:hover {
    opacity: 1;
    transition: opacity .15s ease-out;
}


.container__list {
    padding-left: 0;

    list-style: none;

    font-size: 15px;
    font-weight: 400;
    line-height: 20.4px;

    border: 1px solid green;
}

.news-list__item {
    display: flex;
    margin-bottom: 8px;

    border: 1px solid green;
}

.item__link {
    display: flex;
}

.news-list__item:last-of-type {
    margin-bottom: 0;
}

.item__link {
    display: flex;
    color: #000;
}

/* Stocks styles start */

.stocks {
    display: flex;
    border: 1px solid orange;
}

.stocks__item {
    display: flex;

    padding-right: 16px;
    padding-bottom: 9px;

    font-size: 14.1px;
    font-weight: 400;
    line-height: 19.1833px;

    /* border: 1px solid orange; */
}

.stock-item__link {
    margin-right: 6px;

    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    color: #000;
}

.stock-item__cell {
    /* margin: -2px -2px -2px 7px; */
    margin-left: 7px;
    /* padding: 3px 0; */

    text-align: right;
    color: #999;

    /* border: 1px solid orange; */
}


/* Stocks styles end */


.news__local-news {
    /* flex: 1 1 auto; */
    max-width: 33.3%;
    margin-left: 20px;
}

.container {
    font-size: 15px;
    font-weight: 400;
    line-height: 20.4px;

    border: 1px solid green;
}

.container__tabs {
    display: flex;
    align-items: center;

    border: 1px solid green;
}

.container__content {
    display: flex;
    border: 1px solid green;
}

/* .content__link {
    display: flex;
    align-items: center;

    margin-right: 10px;
    font-size: 26px;
    border: 1px solid green;
} */

.traffic__content {
    display: flex;
}

.forecsat {
    display: flex;
}

.forecast__link {
    color: #000;
}

.w-forecast-link__text {
    display: block;
    margin-bottom: 3px;
    font-size: 9px;
    text-align: center;
    color: #90919d;
}

.w-forecast-link__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -4px 2px 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px 20px;
}


/* new styles end */


/* services start*/

.search {
    display: flex;
    flex-direction: column;
    border: 1px solid pink;
}

.services__list {
    padding-left: 0;

    display: flex;
    flex: 1 1 auto;

    list-style: none;

    border: 1px solid violet;
}

.services-list__service {
    flex-grow: 1;
    min-width: 90px;
    border: 1px solid violet;
}

/* servisec end */

.search__panel {
    position: relative;
    font-size: 18.465px;
    border: 1px solid red;
}

.panel__form {
    display: flex;

    background: #fc0;
    border-radius: .625rem;
}

.form__input {
    width: 100%;
}

.form__button {
    /* appearance: none; */
    border: 0;
    background-color: #fc0;
}

.recommendation {
    display: flex;
    justify-content: flex-end;
}

.advertising__block {
    height: 113px;
    background: lightblue;
}

.logo {
    position: absolute;
    top: 0;
    right: calc(100% + 5px);
    bottom: 0;
    height: 0;
    margin: auto;
}

.logo__link {
    margin-top: -55px;
    display: block;
}

/* link styles start */

.link {
    color: currentColor;
    text-decoration: none;
}

.link:hover {
    color: #ff0000;
    transition: color .15s ease-out;
}

.link._primary {
    font-weight: 700;
}

.link._transparent {
    color: #90919d;
}

.link._container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 12px;
}

.link._container:hover .link__icon._move-up {
    transform:  translateY(-5px);
    transition: transform ease-out .15s;
}

.link._current {

    display: flex;
    align-items: center;
    
    margin-right: 10px;
    font-size: 26px;
    border: 1px solid green;
}


/* links styles end */

/* aside styles */
.desktop-notifications {
    position: absolute;
    top: 6px;
    right: 0;

    /* border: 1px solid blue; */
}

.notification-block {
    padding: 0 0 6px 26px;


    /* border: 1px solid blue; */
    /* background: blue; */
}

.card {
    margin-right: 6px;
    padding: 14px 10px;

    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0, 0, 0, .08);

    font-size: 14.001px;

    /* border: 1px solid red; */
    /* background: red; */
}

.card:hover {
    transform: translateX(-20px);
    transition: transform .15s ease-out 50ms;
}