.css-button {
    background-color: #5e5e5e !important;
    color: #fff !important;
    cursor: pointer;

    border: 0;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    box-shadow: inset 1px 1px 0 #777,0 2px 3px rgba(0,0,0,.4);
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    border-radius: 4px !important;
    white-space: nowrap;
    padding: 1rem 1.5rem;
    line-height: 1.4;
    text-align: center;
    transition: .07s;
    position: relative;
    text-decoration: none !important;   

    &:hover {
        opacity: .66;
    }

    &._full-width {
        width: 100%;
    }
}