.css-article-title {
    margin: 0 0 1.5rem;
    
    .css-font-bold-large();
    line-height: 1.1;

    &__link {
        color: @css-card-title-color;

        &:hover {
            opacity: .66;
        }
    }

    &._mini {
        font-size: 1.3rem;
        margin: 0 0 1rem;
    }
}