.css-star-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;

    fill: @css-header-text-color;
}

.css-logo-icon {
    width: 170px;
    height: 25px;
    margin-right: var(--gap);

    fill: @css-header-text-color;
}

.css-header-icon {
    width: 32px;
    height: 32px;

    fill: currentColor;
}

.css-avatar-icon {
    width: 40px;
    height: 40px;
    margin-right: .5rem;

    border-radius: 50%;
}